# ==========================================
# GitHub Classroom Initializer Config (.env)
# ==========================================

# Target GitHub Organization name
# ORG="FTDS-Assignment-Bay[-2]"
ORG=

# Batch / Class Name (e.g., "Batch-001")
# BATCH_NAME="FTDS-XXX-HCK/RMT"
BATCH_NAME=

# Target Team Name inside organization (used for invitations)
# TEAM_NAME="phase-0/1/2[-set-1/2]"
TEAM_NAME=

# Array of student GitHub usernames
# Separate with spaces/newlines
# USERS=(
#     "userA"
#     "userB"
#     "userC"
#     "userD"
# )
USERS=()

# Reviewers / Instructors (Format: ("user1" "user2"))
# REVIEWERS=(
#     "reviewer1"
#     "reviewer2"
# )
REVIEWERS=()

# Template repositories and their respective deadlines
# Format: "organization/repository|YYYY-MM-DD HH:MM"
# TEMPLATES=(
#     "orgName/templateRepo1|2026-12-31 23:59"
#     "orgName/templateRepo2|2026-12-31 23:59"
# )
TEMPLATES=()
